.wrapper
= render partial: 'header', locals: { tweets: @tweets }
.maincontent
  .left-content
    .left-content-up
      .left-content_image
        - if current_user.image?
          =image_tag current_user.image_url
      .left-contents
        .left-contents_name
          = current_user.name
        .left-contents_nickname
          = current_user.nickname
        %ul.left-contents_list
          %li.left-contents_list_tweet
            = link_to "ツイート数", user_path(current_user.id)
            = current_user.tweets.count
          %li.left-contents_list_follow
            follow
          %li.left-contents_list_follower
            follower
    .left-content-down
  = render partial: 'center-content', locals: { tweets: @tweets }
  .right-content
    .right-content-up
    .right-content-down
