.wrapper
= render partial: 'header', locals: { tweets: @tweets }
.maincontent
  .left-content
    .left-content-up
      .left-content_image
        - if current_user.image?
          = link_to image_tag(current_user.image_url), user_path(current_user.id)
      .left-contents
        .left-contents_avatar
          - if current_user.avatar?
            = link_to image_tag(current_user.avatar.url), user_path(current_user.id)
        .left-contents_name
          - if current_user.name?
            = current_user.name
          - else
            = current_user.nickname
        .left-contents_nickname
          = current_user.nickname
        %ul.left-contents_list
          %li.left-contents_list_tweet
            = link_to "ツイート数", user_path(current_user.id)
            = current_user.tweets.count
          %li.left-contents_list_follow
            フォロー
          %li.left-contents_list_follower
            フォロワー
    .left-content-down
  = render partial: 'center-content', locals: { tweets: @tweets }
  .right-content
    .right-content-up
    .right-content-down
      .weather-city_name
        TOKYO WEATHER
      #weather

