= render partial: 'header', locals: { tweets: @tweets }
.maincontent
  .center-content
    .center-contents
      .content-upper
        .content-upper__name
          = @tweet.user.nickname
        .content-upper__time
          = format_posted_time(@tweet.created_at)
        .content-upper__text
          - if @tweet.text.present?
            = @tweet.text
        .content-image
          - if @tweet.image.present?
            = image_tag @tweet.image
      %ul.content-down
        %li.content-down__comment
          = link_to '#' do
            %i.far.fa-comment
        %li.content-down__retweet
          = link_to '#' do
            %i.fas.fa-retweet
        %li.content-down__likes
          = render 'likes/like_links', tweet: @tweet
        %li.content-down__message
          = link_to '#' do
            %i.far.fa-envelope
    -if user_signed_in?
      .content-comment
        .commentforms
        = form_for [@tweet, @comment] do |f|
          .field-label__text
          = f.text_area :text, placeholder: "返信をツイート", type: "text", class: 'commentform__input'
          = f.submit "返信", class: 'commentform__btn'
    -if @comments
      .comment-show
        .comment-showbox
          - @comments.each do |comment|
            - if comment.user == current_user
              .comment-delete
                = link_to "削除", tweet_comment_path(comment.tweet_id, comment.id), method: :delete
            .comment-forname
              =@tweet.user.nickname
              さんへのコメント
            .comment-nickname
              =comment.user.nickname
            .comment-time
              =format_posted_time(comment.created_at)
            .comment-text
              =comment.text
        / %ul.content-down
        /   %li.content-down__comment
        /     = link_to tweet_path(@tweet.id) do
        /       %i.far.fa-comment
        /   %li.content-down__retweet
        /     = link_to '#' do
        /       %i.fas.fa-retweet
        /   / %li.content-down__likes
        /   /   = render 'likes/like_links', tweet: @tweet
        /   %li.content-down__message
        /     = link_to '#' do
        /       %i.far.fa-envelope

