= render partial: '/tweets/header', locals: { tweets: @tweets }
.user
  .user_edit
    = form_for(@user) do |f|
      .user_edit-image
        <現在のヘッダー画像>
        - if @user.image?
          = image_tag @user.image.url
        - else
          = image_tag("/images/icon/no-image.png")
        = f.file_field :image
        = f.hidden_field :user_id, value: current_user.id
      .user_edit-avatar
        <現在のユーザーアイコン>
        - if @user.avatar?
          = image_tag @user.avatar.url
        - else
          = image_tag("/images/icon/no-image.png")
        = f.file_field :avatar
        = f.hidden_field :user_id, value: current_user.id
        = f.submit 'プロフィール編集を完了する', class: 'btn-primary'
