= render partial: 'tweets/header', locals: { tweets: @tweets }
= render partial: 'users/mypage', locals: { user: @user }
.mypagecontent
  .mypage_content
    - @tweets.each do |tweet|
      .mypage_contents
        .mypage_upper
          .mypage_upper__name
            - if tweet.name.present?
              = tweet.name
          .mypage_upper__time
            = format_posted_time(tweet.created_at)
          .mypage_upper__text
            - if tweet.text.present?
              = tweet.text
          .mypage-image
            - if tweet.image.present?
              = image_tag tweet.image
        %ul.mypage-down
          %li.mypage-down__comment
            = link_to '#' do
              %i.far.fa-comment
          %li.mypage-down__retweet
            = link_to '#' do
              %i.fas.fa-retweet
          %li.mypage-down__likes
            = render 'likes/like_links', tweet: tweet
          %li.mypage-down__message
            = link_to '#' do
              %i.far.fa-envelope
          -if user_signed_in? && current_user.id == tweet.user_id
            %li.content-down__delete
              = link_to "削除", "/tweets/#{tweet.id}", method: :delete
  = render 'follow_form'
  = render 'stats'
